@import 'src/app/styles/colors';

.tables-wrapper {
    padding: 0 8px;
  }
  
  .product-table-wrapper {
    padding-left: 0;
    padding-right: 0;
    margin: 16px 16px 32px 16px;
    box-shadow: 0 3px 11px 0 $shadow-white, 0 3px 3px -2px $shadow-grey, 0 1px 8px 0 $shadow-dark-grey;
  }

  .form {
    padding-left: 1%;
    min-width: 150px;
    max-width: 500px;
    width: 50%;
    text-align: center;
  }
  
mat-form-field {
    width: 60%;
  }